:root {
  /* Transitions */
  --transition-three-ms: all 0.3s ease;
  --transition-four-ms: all 0.4s ease;

  /* Background Colors */
  --primary-bg-color: white;
  --secondary-bg-color: #f1f3f5;
  --tertiary-bg-color: #dee2e6;
  --quartenary-bg-color: #495057;

  /* Text Colors */
  --primary-text-color: white;
  --primary-text-color-inverted: #111;
  --secondary-text-color-inverted: #222;
  --footer-text-color: #343a40;

  /* Accent Colors */
  --primary-accent-color: #15aabf;
  --secondary-accent-color: #3bc9db;
}

.darkmode {
  /* Background Colors */
  --primary-bg-color: black;
  --secondary-bg-color: #111;
  --tertiary-bg-color: #222;
  --quartenary-bg-color: #adb5bd;

  /* Text Colors */
  --primary-text-color: #111;
  --primary-text-color-inverted: white;
  --secondary-text-color-inverted: #e6e6e6;
  --footer-text-color: #adb5bd;

  /* Accent Colors */
  --primary-accent-color: #3bc9db;
  --secondary-accent-color: #15aabf;
}

.disable-transitions {
  /* Transitions */
  --transition-three-ms: all 0 ease;
  --transition-four-ms: all 0 ease;
}
