.section-2 {
  margin-bottom: 15rem;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me-container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
