.section-3{
  padding-left: 20rem;
  height: 100vh;
  display:flex;
  flex-direction: column;
  gap:2rem;
}

.featured-project-container{
  display:flex;
  flex-direction: column;
  gap:1rem;
}

.webapp-link{
  display: inline-block;
  width: 60rem;
}

.webapp-img{
  max-width: 100%;
  position: relative;
  border-radius: 5px;
}


.webapp-img:hover{
  transform:scale(1.1);
}